@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&family=Urbanist:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-size: 20px;
}

body {
  background: linear-gradient(to right, #dce0e2 0%, #838587 100%);
  color: #333;
  font-family: 'Urbanist';
}
a {
  color: #333;
  text-decoration: none;
}
.content {
  max-width: 960px;
  margin: 0 auto;
}
nav {
  margin: 10px auto 20px;
  padding: 5px 0;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  border-bottom: 1px solid #ddd;
}
nav a {
  margin-left: 12px;
}
nav .logo {
  margin-right: auto;
}
footer {
  display: block;
  text-align: center;
  padding: 30px 0;
  margin-top: 60px;
  color: #777777;
  border-top: 1px solid #eaeaea;
}

/*booking form */
.container {
  max-width: 500px;
  margin: 30px auto;
  overflow: auto;
  min-height: 300px;
  border: 4px solid rgb(5, 5, 5);
  padding: 30px;
  border-radius: 5px;
}

.btn-block {
  display: block;
  width: 100%;
  background: rgb(73, 72, 74);
  color: #fff;
  border: none;
  padding: 10px 20px;
  margin: 5px;
  border-radius: 10px;
  cursor: pointer;
  font-size: 25px;
  border: 4px solid #292928;
  transition-duration: 0.4s;
}

.btn-block:hover {
  background-color: #d3d3d3;
  color: #292928;
}

h1 {
  text-align: center;
  font-size: 35px;
}

label {
  font-size: 20px;
  font-weight: 800;
}

.form-control {
  margin: 20px 0;
}

.form-control label {
  display: block;
}

.form-control input {
  width: 100%;
  height: 40px;
  margin: 5px;
  padding: 3px 7px;
  font-size: 17px;
}
/*walker's event list*/
*/ #list {
  display: flex;
  align-content: center;
}

.events-container {
  margin: 30px auto;
  overflow: auto;
  border-radius: 5px;
  position: relative;
  float: left;
  margin-left: 60px;
}

#event-list {
  width: 450px;
  border: 4px solid #292928;
  margin: 5px;
  cursor: pointer;
  font-weight: bold;
  font-size: 28px;
  display: flex;
  border-radius: 5px;
}

.list-title {
  font-size: 25px;
}

.list-date,
.list-venue {
  font-size: 4px;
  font-weight: lighter;
  color: rgb(73, 72, 74);
  text-align: center;
}

.event-div {
  display: flex;
  justify-content: center;
}

.date-month {
  font-size: 35px;
  font-weight: 700;
}

.event-day-month {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 80px;
  height: 110px;
  background-color: #292928;
  color: #f4f4f4;
  text-align: center;
  font-size: 25px;
}

h1 {
  font-size: 25px;
}

h3 {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

h6 {
  text-align: left;
}

.first-day,
.first-venue {
  font-size: 5px;
  font-weight: lighter;
  color: #f4f4f4;
  text-align: center;
}

.left {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
  border-radius: 5px;
}

.btn {
  display: block;
  width: 70px;
  padding: 4px;
  margin: 2px auto;
  background: rgb(73, 72, 74);
  border-radius: 10px;
  color: white;
  text-align: center;
  border: 4px solid #292928;
  transition-duration: 0.4s;
  cursor: pointer;
}

.btn:hover {
  background-color: #f9f8eb;
  color: #292928;
}

.btn-dev {
  display: flex;
}

.dele-btn {
  font-size: 40px;
  margin-right: 10px;
  margin-left: 3px;
}

/** upload form */
.upload-form {
  justify-content: center;
  font-size: 1em;
  /* padding: 1em; */
  border: none;
  border-radius: 0.5em;
}
*/ .button {
  color: white;
  font-size: 1em;
  background-color: rgb(73, 72, 74);
  padding: 0.5em 0.8em;
  border: none;
  border-radius: 0.2em;
}

.upload-container {
  display: grid;
  grid-template-rows: 1fr auto;
  /* padding: 0 2rem; */
  margin: 0 auto;
}
/**home page*/
.pic-home {
  display: flex;
  justify-content: center;
  align-items: center;
}

.pichome {
  border-radius: 15px;
  border: 5px solid rgb(73, 72, 74);
}

/**my account home*/
.myaccount-div {
  display: flex;
  justify-content: center;
  align-items: center;
}

/**walker-record form*/

.addform {
  width: 50vh;
  margin: 5px auto;
  border: 4px solid rgb(73, 72, 74);
  padding: 20px;
  border-radius: 5px;
  align-items: center;
  justify-content: space-between;
}

.addform .gps-track {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 25px;
}

.gps-buttons {
  display: flex;
}

.button-record {
  display: flex;
  justify-content: center;
}

.button-record .btn-record {
  width: 200px;
}

.img-preview {
  width: 120px;
  border: 2px solid black;
  border-radius: 20px;
  margin-top: 15px;
  margin-bottom: 15px;
  margin-right: 20px;
}

.add-form .checkbox-pp {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.checkbox-pp .checkbox {
  cursor: pointer;
}

.pee-poo {
  margin: 0 100px;
}

.upload-image {
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.submit-div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.submit-form-control {
  margin: 5px;
  align-content: center;
}
.submit-form-control label {
  display: inline-block;
  margin-right: 20px;
  margin-left: 20px;
  border-left: 20px;
}

.adjustfont {
  font-size: 24px;
  font-weight: 600;
}

.submit-form-control input {
  width: 30px;
  height: 30px;
}

.submit-form-title {
  margin-bottom: 10px;
  margin-top: 5px;
}

.btn-record {
  color: white;
  font-size: 20px;
  background-color: rgb(73, 72, 74);
  padding: 12px;
  border: 5px;
  margin: 5px;
  margin-right: 10px;
  border-radius: 10px;
  border: 4px solid #292928;
  box-shadow: 2px 2px 15px -5px #a7a7a7;
  cursor: pointer;
  padding: 10px;
  transition-duration: 0.4s;
}

.btn-record:hover {
  background-color: #d3d3d3;
  color: #292928;
}

.gpsbutton {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 4px solid rgb(73, 72, 74);
  border-radius: 5px;
  width: 400px;
  height: 100px;
}

.gpslabel {
  display: inline-block;
  border-left: 20px;
}

.gpsouter {
  display: flex;
  justify-content: center;
  align-items: center;
}

.upload-container-outer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 5px;
}

.upload-container {
  border: 4px solid rgb(73, 72, 74);
  border-radius: 5px;
  width: 400px;
  height: 100px;
}

.uploadlabel {
  margin-bottom: 5px;
}

/**myaccount-formuser-form*/

.record-div-outer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.record-div {
  font-size: 30px;
}

.record-label {
  display: inline-block;
  margin-right: 30px;
  margin-left: 20px;
  border-left: 20px;
}

.walk-path-outer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 20px;
}

.imgs-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

ul {
  list-style-type: none;
}

.map-header {
  text-align: center;
}

/**map*/

.map-container {
  width: 600px;
  height: 400px;
}
